@model IEnumerable<User>
@using Microsoft.AspNetCore.Mvc.ViewComponents


@{
    ViewData["Title"] = "User";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-sm">
                    <h1 class="m-0">@Localizer["User"]</h1>
                </div>
                <div class="col-sm">
                    <div class="breadcrumb float-sm-right">
                        <a class="btn fa fa-edit" id="createUser">Create New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <table class="table table-bordered table-striped text-sm">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th> 
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Role)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreationDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastAccessDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsEmailConfirmed)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name /*$"{item.Name} {item.LastName}"*/)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td> 
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastAccessDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsEmailConfirmed)
                                    </td>
                                    <td>
                                        <button class="btn btn-primary editUser"  data-value="@item.Id">@Localizer["Edit"]</button>
                                        <button class="btn btn-danger deleteUser" data-value="@item.Id">@Localizer["Delete"]</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="ModalDetail" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Create"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DataDetail"></div>
            </div>
            <div class="modal-footer">
                <hr />  
            </div>
        </div>
    </div>
</div>

<div id="ModalDetailEdit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Edit"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DataDetailEdit"></div>
            </div>
            <div class="modal-footer">
                <hr />  
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <script src="~/lib/pqGrid/pqgrid.min.js"></script>
    <script src="~/lib/pqGrid/localize/pq-localize-pt-br.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {

            $("#createUser").click(function () {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("Create", "User")',
                    data: { id: $(this).data("value") },
                    success: function (data) {
                        $("#DataDetail").html(data);
                        $("#ModalDetail").modal("show");
                    }
                });
            });

            $(".deleteUser").click(function () {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("Delete", "User")',
                    data: { id: $(this).data("value") },
                    success: function (data) {
                        $("#DataDetail").html(data);
                        $("#ModalDetail").modal("show");
                    }
                });
            });  
            
            $(".editUser").click(function () {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("Edit", "User")',
                    data: { id: $(this).data("value") },
                    success: function (data) {
                        $("#DataDetailEdit").html(data);
                        $("#ModalDetailEdit").modal("show");
                    }
                });
            });

            // Recupera as mensagens de erro do TempData
            var errorMessages = @Html.Raw(Json.Serialize(TempData["ErrorMessages"] ?? new string[0]));

            // Exibe os erros em forma de toast
            for (var i = 0; i < errorMessages.length; i++) {
                var parts = errorMessages[i].split(": ");
                var title = "";
                var message = errorMessages[i];
                if (parts.length > 1) {
                    title = parts[0];
                    message = parts[1];
                }
              
                toastr.error(message, title);
            }

        });




    </script>

}