@model IEnumerable<Asset>
@{
    ViewData["Title"] = "Asset";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-sm">
                    <h1 class="m-0">@Localizer["Asset"]</h1>
                </div>
                <div class="col-sm">
                    <div class="breadcrumb float-sm-right">
                        <a class="btn fa fa-edit" id="createAsset">Create New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="input-group input-group-lg d-flex justify-content-center">
                <input type="search" class="form-control form-control-sm mx-auto" id="searchInput" placeholder="Pesquisar">
                <div class="input-group-append">
                    <button type="button" class="btn btn-sm btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="buttons"></div>
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdAssetClass)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Symbol)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Grade)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreationDate)
                                    </th>
                                    <th class="buttons-column" data-priority="1">@Localizer["Actions"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdAssetClass)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Symbol)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>     
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.CreationDate)
                                        </td>
                                        <td class="buttons-column buttons-cell" data-priority="1">
                                            <div>
                                                <button class="btn btn-secondary editAsset btn-block" data-value="@item.Id">@Localizer["Edit"]</button>
                                                <button class="btn btn-danger deleteAsset btn-block" data-value="@item.Id">@Localizer["Delete"]</button>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="ModalDetail" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Create"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DataDetail"></div>
            </div>
            <div class="modal-footer">
                <hr />
            </div>
        </div>
    </div>
</div>

<div id="ModalDetailEdit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Edit"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DataDetailEdit"></div>
            </div>
            <div class="modal-footer">
                <hr />
            </div>
        </div>
    </div>
</div>

<div id="ModalDetailDelete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Delete"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DataDetailDelete"></div>
            </div>
            <div class="modal-footer">
                <hr />
            </div>
        </div>
    </div>
</div>


@section Css {
    <link rel="stylesheet" href="~/lib/datatables/jquery.dataTables.js">

    <style>
        .searchInput {
            width: 50%;
        }

        .icon-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cardContent {
            width: 100%
        }
 

        .buttons-cell .btn {
            height: 12px; /* altura dos botões */
            line-height: 5px; /* espaçamento vertical entre o texto e o botão */
            padding: 12px 8px; /* espaçamento interno do botão */
        }


    </style>
}

@section Scripts {
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.js"></script>
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <script src="~/lib/pqGrid/pqgrid.min.js"></script>
    <script src="~/lib/pqGrid/localize/pq-localize-pt-br.js"></script>

    <script>

        $(document).ready(function () {

            $("#createAsset").click(function () {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("Create", "Asset")',
                    data: { id: $(this).data("value") },
                    success: function (data) {
                        $("#DataDetail").html(data);
                        $("#ModalDetail").modal("show");
                    }
                });
            });

            $(".deleteAsset").click(function () {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("Delete", "Asset")',
                    data: { id: $(this).data("value") },
                    success: function (data) {
                        $("#DataDetailDelete").html(data);
                        $("#ModalDetailDelete").modal("show");
                    }
                });
            });

            $(".editAsset").click(function () {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("Edit", "Asset")',
                    data: { id: $(this).data("value") },
                    success: function (data) {
                        $("#DataDetailEdit").html(data);
                        $("#ModalDetailEdit").modal("show");
                    }
                });
            });

            $('#myTable').DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "columnDefs": [
                    { width: '100px', targets: 0 },
                    { width: '100px', targets: 1 },
                    { width: '300px', targets: 2 },
                    { width: '100px', targets: 3 },
                    { width: '750px', targets: 4 },
                    { width: '100px', targets: 5 },
                    { width: '100px', targets: 6 }
                ],
                "searching": false,
                "buttons": [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(.buttons-column)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(.buttons-column)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(.buttons-column)'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':not(.buttons-column)'
                        }
                    }
                ]
            }).buttons().container().appendTo('#myTable_wrapper .col-md-6:eq(0)');


            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            // Recupera as mensagens de erro do TempData
            var errorMessages = @Html.Raw(Json.Serialize(TempData["ErrorMessages"] ?? new string[0]));

            // Exibe os erros em forma de toast
            for (var i = 0; i < errorMessages.length; i++) {
                var parts = errorMessages[i].split(": ");
                var title = "";
                var message = errorMessages[i];
                if (parts.length > 1) {
                    title = parts[0];
                    message = parts[1];
                }

                toastr.error(message, title);
            }

            // Recupera as mensagens de sucesso do TempData
            var successMessages = @Html.Raw(Json.Serialize(TempData["SuccessMessages"] ?? new string[0]));

            // Exibe as mensagens de sucesso em forma de toast
            for (var i = 0; i < successMessages.length; i++) {
                var parts = successMessages[i].split(": ");
                var title = "";
                var message = successMessages[i];
                if (parts.length > 1) {
                    title = parts[0];
                    message = parts[1];
                }

                toastr.success(message, title);
            }

        });
    </script>
}