<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Syntax</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/lib/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />

    <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/waitme/waitMe.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @await RenderSectionAsync("Css", required: false)
</head>
<body class="hold-transition sidebar-mini" style="height: auto;">
    @Html.HiddenFor(m => System.Globalization.CultureInfo.CurrentCulture.Name)
    @Html.HiddenFor(m => System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator)
    @Html.HiddenFor(m => System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberGroupSeparator)



    <input type="hidden" id="CurrentCultureName" value="@System.Globalization.CultureInfo.CurrentCulture.Name" />
    <input type="hidden" id="CurrentCultureDecimal" value="@System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" />
    <input type="hidden" id="CurrentCultureGroup" value="@System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberGroupSeparator" />

    <!-- MENSAGEM DE ERRO -->
    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="warning" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />

    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/Rocket.png" alt="Syntax" />
        </div>

        @await Html.PartialAsync("_Navbar")
        @await Html.PartialAsync("_Sidebar")
        @RenderBody()
        @await Html.PartialAsync("_Footer")
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <script src="~/lib/pqGrid/pqgrid.min.js"></script>
    <script src="~/lib/pqGrid/localize/pq-localize-pt-br.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/moment/locale/pt-br.js"></script>
    <script src="~/lib/moment/locale/en-in.js"></script>
    <script src="~/lib/moment/locale/es.js"></script>
    <script src="~/lib/inputmask/inputmask.min.js"></script>
    <script src="~/lib/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/lib/jquery-maskmoney/jquery.maskMoney.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/waitme/waitMe.min.js"></script>
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>